<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nmsl.dao.SongListDAO">
        <!--redis缓存-->
<!--    <cache type="com.nmsl.cache.RedisCache"/>-->

    <sql id="Base_Column_List">
        id,id,title,pic,style
    </sql>

    <sql id="Blob_Column_List">
        id,title,pic,introduction,style
    </sql>
    
    <insert id="insert" parameterType="com.nmsl.domain.SongList" useGeneratedKeys="true" keyProperty="id">
        insert into song_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null" >
                id,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="pic != null" >
                pic,
            </if>
            <if test="introduction != null" >
                introduction,
            </if>
            <if test="style != null" >
                style,
            </if>



        </trim>
        <trim prefix=" values(" suffix=")" suffixOverrides=",">
            <if test="id != null" >
                #{id},
            </if>
            <if test="title != null" >
                #{title},
            </if>
            <if test="pic != null" >
                #{pic},
            </if>
            <if test="introduction != null" >
                #{introduction},
            </if>
            <if test="style != null" >
                #{style},
            </if>
        </trim>
    </insert>
    
    <update id="update" parameterType="com.nmsl.domain.SongList">
        update song_list
        <set>
            <if test="title != null" >
                title = #{title},
            </if>
            <if test="pic != null" >
                pic = #{pic},
            </if>
            <if test="introduction != null" >
                introduction = #{introduction},
            </if>

            <if test="style != null" >
                style = #{style},
            </if>
        </set>
            where id = #{id}
    </update>
    
    <delete id="delete">
        delete
        from song_list
        where id = #{id};
    </delete>

    <!--根据主键查询整个对象-->
    <select id="selectById" resultType="com.nmsl.domain.SongList" >
        select
        <include refid="Blob_Column_List"/>
        from song_list
        where id=#{id}
    </select>
    
    <select id="selectAllSongList"  resultType="com.nmsl.domain.SongList"  >
        select
        <include refid="Blob_Column_List"/>
        from song_list
    </select>
    <!--精确查询-->
    <select id="songOfTitle"  resultType="com.nmsl.domain.SongList" >
        select
        <include refid="Blob_Column_List"/>
        from song_list
        where title = #{title}
    </select>
    <!--模糊查询-->
    <select id="likeTitle"  resultType="com.nmsl.domain.SongList" >
        select
        <include refid="Blob_Column_List"/>
        from song_list
        where title like #{title}
    </select>
    <!--根据风格模糊查询-->
    <select id="likeStyle"  resultType="com.nmsl.domain.SongList" >
        select
        <include refid="Blob_Column_List"/>
        from song_list
        where style like #{style}
    </select>

</mapper>
    